<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>

		<add name="SQLConnection" connectionString="Data Source=         ;Initial Catalog=    ; Persist Security Info=   ; User ID=   ; Password=     ;" />
		
	
	</connectionStrings>
	<appSettings>


		<add key="TimeInMinutes" value="10" />
		
		<add key="GeotabSDKUser" value="            " />
		<add key="GeotabSDKPassword" value="         " />
		<add key="GeotabSDKUserTest" value="         " />
		<add key="GeotabSDKPasswordTest" value="      " />
		<add key="GeotabSDKDatabase" value="      " />
		<add key="GeotabSDKServer" value="         " />
		<add key="GeotabSDKProxy" value="      " />
		<add key="GeotabSDKProxyUser" value="      " />
		<add key="GeotabSDKProxyPassword" value="      " />

		

		<!--Change Tier Value here to Blank to Exclude tier-->
		<add key="packageCar" value="Package Car" />
		<add key="packageCar2" value="Package Car (Ready Team Member)" />
		<add key="tier1" value="Tier 1" />
		<add key="tier2" value="Tier 2" />
		<add key="tier3" value="Tier 3" />

		<add key="HostName" value="       " />
		<add key="OragamiSFTPUser" value="       " />
		<add key="Password" value="      " />
		<add key="PortNumber" value="      " />
		<add key="SshHostKeyFingerPrint" value="      " />

		<add key="FileLocation" value="D:\This\IS\A\FileLocation" />
		<add key="FileLocationSlash" value="D:\THis\Is\A\FileLocation\" />
		<add key="FileLocationBackup" value="D:\This\Is\A\FileLocation" />
		<add key="FileLocationBackupSlash" value="D:\This\Is\A\FileLocation\" />
		<add key="FileLocationBackup2" value="D:\\This\\Si\\A\\FileLocation\\" />
		<add key="LogFilePath" value="D:\This\Is\A\FileLocation" />

		

		
		





	</appSettings>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="      " culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="      " culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="      " culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="      " culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="      " culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="      " culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="      " culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="      " culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="      " culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
