<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>

		<add name="SQLConnection" connectionString="Data Source=gaalpcsv0031;Initial Catalog=TelematicsReporting_SmallPackage_Test; Persist Security Info=True ; User ID=TelAppUser; Password=Te!@0321;" />
		<!--<add name="SQLConnection" connectionString="Data Source=gaalpcsv0028;Initial Catalog=TelematicsReporting_SmallPackage; Persist Security Info=True ; User ID=TelAppUser; Password=Te!@0122;" />-->
		
	
	</connectionStrings>
	<appSettings>

		<add key="log4net.Config" value="log4.config" />
		<add key="log4net.Config.Watch" value="True" />
		<add key="log4net.Internal.Debug" value="False" />

		<add key="TimeInMinutes" value="10" />
		
		<add key="GeotabSDKUser" value="upstelematics@ups.com" />
		<add key="GeotabSDKPassword" value="vircom43@UPS" />
		<add key="GeotabSDKUserTest" value="svellore@ups.com" />
		<add key="GeotabSDKPasswordTest" value="HappyC0w" />
		<add key="GeotabSDKDatabase" value="geotab52_m" />
		<add key="GeotabSDKServer" value="my200.geotab.com" />
		<add key="GeotabSDKProxy" value="proxy.njc.ups.com" />
		<add key="GeotabSDKProxyUser" value="UPSTelematics" />
		<add key="GeotabSDKProxyPassword" value="HeL44riZ" />

		<!--<add key="GeotabSDKUser" value="upstelematics@ups.com" />
		<add key="GeotabSDKPassword" value="vircom43@UPS" />
		<add key="GeotabSDKUserTest" value="svellore@ups.com" />
		<add key="GeotabSDKPasswordTest" value="HappyC0w" />
		<add key="GeotabSDKDatabase" value="geotab52_m" />
		<add key="GeotabSDKServer" value="mirror17.geotab.com" />
		<add key="GeotabSDKProxy" value="proxy.njc.ups.com" />
		<add key="GeotabSDKProxyUser" value="UPSTelematics" />
		<add key="GeotabSDKProxyPassword" value="HeL44riZ" />-->

		<!--Change Tier Value here to Blank to Exclude tier-->
		<add key="packageCar" value="Package Car" />
		<add key="packageCar2" value="Package Car (Ready Team Member)" />
		<add key="tier1" value="Tier 1" />
		<add key="tier2" value="Tier 2" />
		<add key="tier3" value="Tier 3" />

		<add key="HostName" value="ftp2.ups.com" />
		<add key="OragamiSFTPUser" value="OrigamiSFTP" />
		<add key="Password" value="v9X17UW03qC" />
		<add key="PortNumber" value="10022" />
		<add key="SshHostKeyFingerPrint" value="ssh-rsa 2048 HUBqpoH+WHd0kyyrHu9LX0IHUoFblmq041+cowtLumk=" />

		<add key="FileLocation" value="D:\UPSDATA\Telematics\AccidentDataFlagger\OragamiFiles" />
		<add key="FileLocationSlash" value="D:\UPSDATA\Telematics\AccidentDataFlagger\OragamiFiles\" />
		<add key="FileLocationBackup" value="D:\UPSDATA\Telematics\AccidentDataFlagger\OragamiFilesBackup" />
		<add key="FileLocationBackupSlash" value="D:\UPSDATA\Telematics\AccidentDataFlagger\OragamiFilesBackup\" />
		<add key="FileLocationBackup2" value="D:\\UPSDATA\\Telematics\\AccidentDataFlagger\\OragamiFilesBackup\\" />
		<add key="LogFilePath" value="D:\UPSDATA\Telematics\AccidentDataFlagger\AccidentDataLog2" />


		<!--<add key="FileLocation" value="D:OragamiFiles" />
		<add key="FileLocationSlash" value="D:OragamiFiles\" />
		<add key="FileLocationBackup" value="D:OragamiFilesBackup" />
		<add key="FileLocationBackupSlash" value="D:\UPOragamiFilesBackup\" />
		<add key="FileLocationBackup2" value="D:\\UPSDATA\\Telematics\\UAT\\OragamiFilesBackup\\" />
		<add key ="LogFilePath" value ="D:\UPSDATA\Telematics\UAT\AccidentDataFlaggerLog"/>-->
		

		
		





	</appSettings>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
